html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.navbar{
    display:flex;
    justify-content:center;
    justify-content:space-around;
}
.social{
    display:flex;
    justify-content:center;
}
.header{
 text-align:center;   
}